@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-llgreen: #495e57;
  --color-llyellow: #f4ce14;
  --color-llorange-light: #fbdabb;
  --color-llorange-strong: #ee9972;
}